<%=  bootstrap_form_for(:projeto) do |f| %>
  <% if @projeto.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@projeto.errors.count, "error") %>
      prohibited this projeto from being saved:</h2>

    <ul>
      <% @projeto.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="row" style="margin-left: 10%">
  <div class="col-lg-10">

          <%= f.text_field :nome %>
          <%= f.text_area :descricao, length:'120' %>
          <%= f.text_field :dataInicio, class: 'datepicker' %>
          <%= f.text_field :dataFim, class: 'datepicker' %>
          
          <% if @projeto.new_record? %>  
          <% #do nothing %>
          <% else %>    
            <%= f.label :adicionar_dono_email %><br>                  
            <%= text_field_tag(:dono) %> 
            <br>
            <br>
          <% end %>

          <%= f.label :adicionar_processos %><br>
              <select multiple="multiple" name="processos_added[]" id="processos_added">
              <option value="" disabled selected>Selecione os Processos</option>
              <% if @processos %>
                <% @processos.each do |processo| %>
                  <option value="<%=processo.id%>"> <%=processo.nome%> </option>
                <% end %>
              <% end %>
          </select>

        <br><br>
        <center>
        <% if @projeto.new_record? %>  
          <%= f.submit value:'Criar', class: 'btn btn-success btn-lg'%>
      <% else %>
          <%= f.submit value:'Editar', class: 'btn btn-success btn-lg' %>
      <% end %>
      </center>
        
      </div>
    </div>
  </div>
  <% end %>

