<div class="container">
<p id="notice"><%= notice %></p>

<h1>Seus projetos</h1>

<ul class="collapsible" data-collapsible="accordion">
  <% @projetos.each do |projeto| %>
  <li>
    <div class="collapsible-header teal lighten-2">
      <i class="material-icons">tab</i><%= projeto.nome%></div>

    <div class="collapsible-body">
      <table >
        <thead>
          <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Data Inicio</th>
            <th>Data Fim</th>
            <th>Donos</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody >
          <tr>
            <td><%= projeto.nome %></td>
            <td><%= projeto.descricao %></td>
            <td><%= projeto.dataInicio %></td>
            <td><%= projeto.dataFim %></td>
            <td><%  projeto.donos.each do |dono| %> 

                <%= dono.nome%><br>
                <%end%>
            </td>
            <td></td>
            <td><%= link_to 'Editar', edit_projeto_path(projeto),:class=>"waves-effect waves-light btn"  %></td>
            <td><%= link_to 'Deletar', projeto, method: :delete, data: { confirm: "Deseja mesmo excluir o projeto '#{projeto.nome}' ?"}, :class=>"red darken-1 btn"  %></td>

            <td><%= link_to 'Criar processo', processo_criar_path(projeto) , :class=>"waves-effect waves-light btn"  %></td>
          </tr>
        </tbody>

      </table>

      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header teal lighten-4">
            <i class="material-icons">assignment</i>Listar processos
          </div>
          <div class="collapsible-body">
            <% projeto.processos.each do |processo| %>
            <div class="collection">
              <div class="row collection-item teal accent-2">
                <div class="col s1  ">Nome:
                  <%= processo.nome %>
                </div>
                <div class="col s1">Descrição:
                  <%= processo.descricao %>
                </div>
                <div class="col s1"> Responsáveis:
                  <% processo.responsaveis.each do |responsavel| %>
                     <%= responsavel.nome %><br>
                  <% end %>
                </div>

                <div class=" col s1 offset-s2"><%= link_to 'Show', :class=>"waves-effect waves btn"  %></div>
                <div class="col s1">
                  <%= link_to 'Edit', edit_projeto_processo_path(projeto , processo),:class=>"waves-effect waves-light btn"  %></div>
              </div>
            </div>
            <%end%>
          </div>
        </li>
      </ul>


    </div>
  </li>
  <% end %>
</ul>

<br>


<%= link_to 'Novo projeto', new_projeto_path,:class=>"waves-effect waves-light btn"  %>
</div>