<p id="notice"><%= notice %></p>

<h1>Lista de Processos</h1>

<ul class="collapsible" data-collapsible="accordion">
  <% @processos.each do |processo| %>
  <li>
    <div class="collapsible-header teal lighten-2">
      <i class="material-icons">tab</i><%= processo.nome%></div>

    <div class="collapsible-body">
      <table >
        <thead>
          <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Data Inicio</th>
            <th>Data Fim</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody >
          <tr>
            <td><%= processo.nome %></td>
            <td><%= processo.descricao %></td>
            <td><%= processo.dataInicio %></td>
            <td><%= processo.dataFim %></td>
            <td></td>
            <td><%= link_to 'Show', processo,:class=>"waves-effect waves-light btn"  %></td>
            <td><%= link_to 'Edit', edit_processo_path(processo),:class=>"waves-effect waves-light btn"  %></td>
            <td><%= link_to 'Criar Atividade', new_processo_atividade_path(processo) , :class=>"waves-effect waves-light btn"  %></td>
          </tr>
        </tbody>



      </table>

      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header teal lighten-4">
            <i class="material-icons">assignment</i>Listar tarefas
          </div>
          <div class="collapsible-body">
            <% processo.atividades.each do |atividade| %>
            <div class="collection">
              <div class="row collection-item teal accent-2">
                <div class="col s1  ">Nome:
                  <%= atividade.nome %>
                </div>
                <div class="col s1">Descrição:
                  <%= atividade.descricao %>
                </div>
                <div class="col s1"><%= processo.nome %></div>
                <div class=" col s1 offset-s2"><%= link_to 'Show', :class=>"waves-effect waves btn"  %></div>
                <div class="col s1">
                  <%= link_to 'Edit', edit_processo_atividade_path(processo , atividade),:class=>"waves-effect waves-light btn"  %></div>
              </div>
            </div>
            <%end%>
          </div>
        </li>
      </ul>


    </div>
  </li>
  <% end %>
</ul>

<br>

<%= link_to 'New Processo', new_processo_path,:class=>"waves-effect waves-light btn"  %>
