  <%= form_for(:atividade) do |f| %>
  <% if @atividade.errors.any? %>

  <div id="error_explanation">
    <h2><%= pluralize(@processo.errors.count, "error") %>
      prohibited this processo from being saved:</h2>

    <ul>
      <% @processo.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>



  <div style="padding-left: 15%;padding-right: 15%;">
    <div class="col s12 m6">
      <div class="card-panel teal lighten-4">


        <div class="input-field col s12">
          <%= f.label :nome %><br>
          <%= f.text_field :nome %>
        </div>
        <div class="input-field col s12">
          <%= f.label :descricao %><br>
          <%= f.text_area :descricao, class:'materialize-textarea', length:'120' %>
        </div>
        <div class="input-field col s12">
          <%= f.label :dataInicio %><br>
          <%= f.date_field :dataInicio, class:'datepicker' %>
        </div>

        <div class="input-field col s12">
          <%= f.label :dataFim %><br>
          <%= f.date_field :dataFim, class:'datepicker' %><br/>
        </div>

        <div class="input-field col s12">
          <%= f.label :adicionar_responsavel_email %><br>
          <%= text_field_tag(:responsavel) %>
        </div>  

        <%= f.file_field :nome %>

        <br><br>
        <div class="btn waves-effect waves-light">
          <%= f.submit %>
          <i class="material-icons right">send</i>
        </div>
        
      </div>
    </div>
  </div>

  <% end %>
