<%= form_for :session, url: sign_in_path do |f| %>
	<div class="field">
		<%= f.label :email %><br />
		<%= f.email_field :email, autofocus: true %>
	</div>

	<div class="field">
		<%= f.label :password %><br />
		<%= f.password_field :password, autocomplete: "off" %>
	</div>
	<div class="actions">
		<%= f.submit "Log in" %>
	</div>
	<p>Não possui login? <%= link_to "Crie sua conta agora mesmo!", new_usuario_path %></p>
<% end %>


