<% if @portfolio.new_record? %>  
  <%= form_for @portfolio , :url => organizacao_create_path, :html => {:method => :post} do |f| %>
  <% if @portfolio.errors.any? %>

<div id="error_explanation">
  <h2><%= pluralize(@portfolio.errors.count, "error") %>
    prohibited this portfolio from being saved:</h2>

  <ul>
    <% @portfolio.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div style="padding-left: 15%;padding-right: 15%;">
  <div class="col s12 m6">
    <div class="card-panel teal lighten-4">


      <div class="input-field col s12">
        <%= f.label :nome %><br>
        <%= f.text_field :nome %>
      </div>

      <div class="input-field col s12">

        <%= f.label :descricao %><br>
        <%= f.text_area :descricao, class:'materialize-textarea', length:'120' %>
      </div>
      <div class="input-field col s12">
        <%= f.label :data_incial %><br>
        <%= f.date_field :dataInicio, class:'datepicker' %>
      </div>

      <div class="input-field col s12">
        <%= f.label :data_final %><br>
        <%= f.date_field :dataFim, class:'datepicker' %><br/>
      </div>
      
      <div class="input-field col s12">
          <%= f.label :adicionar_projetos %><br><br>
          <select multiple="multiple" name="projetos_added[]" id="projetos_added">
          <option value="" disabled selected>Selecione os projetos</option>
          <% if @projetos %>
            <% @projetos.each do |projeto| %>
              <option value="<%=projeto.id%>"> <%=projeto.nome%> </option>
            <% end %>
          <% end %>
          </select>
      </div>

      <% if @portfolio.new_record? %>  
        <% #do nothing %>
      <% else %>                      
       <div class="input-field col s12">
        <%= f.label :adicionar_dono_email %><br>
        <%= text_field_tag(:dono) %>
      </div>   
      <% end %>

      <div class="input-field col s12" style="display: none;">
        <%= text_field_tag(:identificador_organizacao, 0) %>
      </div>   
      
      <% if @portfolio.new_record? %>  
        <div class="btn waves-effect waves-light">
          <%= f.submit value:'Criar'%>
          <i class="material-icons right">send</i>
        </div>
      <% else %>
        <div class="btn waves-effect waves-light">
          <%= f.submit value:'Editar' %>
          <i class="material-icons right">send</i>
      </div>
      <% end %>
      

    </div>
  </div>
</div>

<% end %>


<% else %>
  <%= form_for(@portfolio) do |f| %>
  <% if @portfolio.errors.any? %>

<div id="error_explanation">
  <h2><%= pluralize(@portfolio.errors.count, "error") %>
    prohibited this portfolio from being saved:</h2>

  <ul>
    <% @portfolio.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>




<div style="padding-left: 15%;padding-right: 15%;">
  <div class="col s12 m6">
    <div class="card-panel teal lighten-4">


      <div class="input-field col s12">
        <%= f.label :nome %><br>
        <%= f.text_field :nome %>
      </div>

      <div class="input-field col s12">

        <%= f.label :descricao %><br>
        <%= f.text_area :descricao, class:'materialize-textarea', length:'120' %>
      </div>
      <div class="input-field col s12">
        <%= f.label :data_incial %><br>
        <%= f.date_field :dataInicio, class:'datepicker' %>
      </div>

      <div class="input-field col s12">
        <%= f.label :data_final %><br>
        <%= f.date_field :dataFim, class:'datepicker' %><br/>
      </div>
      
      <div class="input-field col s12">
          <%= f.label :adicionar_projetos %><br><br>
          <select multiple="multiple" name="projetos_added[]" id="projetos_added">
          <option value="" disabled selected>Selecione os projetos</option>
          <% if @projetos %>
            <% @projetos.each do |projeto| %>
              <option value="<%=projeto.id%>"> <%=projeto.nome%> </option>
            <% end %>
          <% end %>
          </select>
      </div>

      <% if @portfolio.new_record? %>  
        <% #do nothing %>
      <% else %>                      
       <div class="input-field col s12">
        <%= f.label :adicionar_dono_email %><br>
        <%= text_field_tag(:dono) %>
      </div>   
      <% end %>

      <div class="input-field col s12" style="display: none;">
        <%= text_field_tag(:identificador_organizacao, 0) %>
      </div>   
      
      <% if @portfolio.new_record? %>  
        <div class="btn waves-effect waves-light">
          <%= f.submit value:'Criar'%>
          <i class="material-icons right">send</i>
        </div>
      <% else %>
        <div class="btn waves-effect waves-light">
          <%= f.submit value:'Editar' %>
          <i class="material-icons right">send</i>
      </div>
      <% end %>
      

    </div>
  </div>
</div>

<% end %>

<% end %>

