<div class="container">
<p id="notice"><%= notice %></p>

<h1>Seus portfolios</h1>

<ul class="collapsible" data-collapsible="accordion">
  <% @portfolios.each do |portfolio| %>
  <li>
    <div class="collapsible-header teal lighten-2">
      <i class="material-icons">tab</i><%= portfolio.nome%></div>

    <div class="collapsible-body">
      <table >
        <thead>
          <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Data Inicio</th>
            <th>Data Fim</th>
            <th>Donos</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody >
          <tr>
            <td><%= portfolio.nome %></td>
            <td><%= portfolio.descricao %></td>
            <td><%= portfolio.dataInicio %></td>
            <td><%= portfolio.dataFim %></td>
            <td><%  portfolio.donos.each do |dono| %> 

                <%= dono.nome%><br>
                <%end%>
            </td>
            <td></td>
            <td><%= link_to 'Editar', edit_portfolio_path(portfolio),:class=>"waves-effect waves-light btn"  %></td>
            <td><%= link_to 'Deletar', portfolio, method: :delete, data: { confirm: "Deseja mesmo excluir o portfolio '#{portfolio.nome}' ?"}, :class=>"red darken-1 btn"  %></td>

            <td><%= link_to 'Criar projeto', 'projeto/create' , :class=>"waves-effect waves-light btn"  %></td>
          </tr>
        </tbody>

      </table>

      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header teal lighten-4">
            <i class="material-icons">assignment</i>Listar projetos
          </div>
          <div class="collapsible-body">
            <% portfolio.projetos.each do |projeto| %>
            <div class="collection">
              <div class="row collection-item teal accent-2">
                <div class="col s1  ">Nome:
                  <%= projeto.nome %>
                </div>
                <div class="col s1">Descrição:
                  <%= projeto.descricao %>
                </div>
                <div class="col s1"> Responsáveis:
                  <% projeto.donos.each do |responsavel| %>
                     <%= responsavel.nome %><br>
                  <% end %>
                </div>

                <div class=" col s1 offset-s2"><%= link_to 'Show', :class=>"waves-effect waves btn"  %></div>
                <div class="col s1">
              </div>
            </div>
            <%end%>
          </div>
        </li>
      </ul>


    </div>
  </li>
  <% end %>
</ul>

<br>


<%= link_to 'Novo portfolio', new_portfolio_path,:class=>"waves-effect waves-light btn"  %>
</div>